node_modules
.wwebjs_auth
.wwebjs_cache
.env
.DS_Store
dist
logs
npm-debug.log
coverage
.vscode
.idea
src\storage\qr\*
src\public\storage\qr\*
error_summary_imnotdanish05.md
app_summary_imnotdanish05.md
command_imnotdanish05.md
src/public/storage/qr/qr.png
src/storage/qr/qr.json
.note