<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Bot - <%= title %></title>
    <link rel="icon" href="/assets/img/danish05/logo_web_danish05.png" type="image/x-icon">
    <script src="/assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { families: ["Public Sans:300,400,500,600,700"] },
            custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["/assets/css/fonts.min.css"],
            },
            active: function () {
                sessionStorage.fonts = true;
            },
        });
    </script>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/plugins.min.css">
    <link rel="stylesheet" href="/assets/css/kaiadmin.min.css">
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <div class="logo-header" data-background-color="dark">
                    <a href="/" class="logo">
                        <img src="/assets/img/danish05/logo_danish05.png" alt="KaiAdmin Logo" class="navbar-brand" height="20">
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-primary">
                        <li class="nav-item">
                            <a href="/">
                                <i class="fas fa-home"></i>
                                <p>Home</p>
                            </a>
                        </li>
                        <% if (hasRole(['admin','operator','superadmin'])) { %>
                        <li class="nav-item">
                            <a href="/birthdays">
                                <i class="fas fa-birthday-cake"></i>
                                <p>Birthdays</p>
                            </a>
                        </li>
                        <% } %>
                        <% if (hasRole(['admin','operator','viewer','auditor','superadmin'])) { %>
                        <li class="nav-item">
                            <a href="/logs">
                                <i class="fas fa-list"></i>
                                <p>Logs</p>
                            </a>
                        </li>
                        <% } %>
                        <% if (hasRole(['admin','operator','superadmin'])) { %>
                        <li class="nav-item">
                            <a href="/test">
                                <i class="fas fa-vial"></i>
                                <p>Test</p>
                            </a>
                        </li>
                        <% } %>
                        <% if (hasRole(['admin','operator','viewer','auditor','superadmin'])) { %>
                        <li class="nav-item">
                            <a href="/settings">
                                <i class="fas fa-cog"></i>
                                <p>Settings</p>
                            </a>
                        </li>
                        <% } %>
                        <% if (hasRole(['admin','superadmin'])) { %>
                        <li class="nav-item">
                            <a href="/users">
                                <i class="fas fa-users-cog"></i>
                                <p>Users</p>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <div class="logo-header" data-background-color="dark2">
                        <a href="/" class="logo">
                            <img src="/assets/img/kaiadmin/logo_light.svg" alt="KaiAdmin Logo" class="navbar-brand" height="20">
                        </a>
                        <div class="nav-toggle">
                            <button class="btn btn-toggle toggle-sidebar">
                                <i class="gg-menu-right"></i>
                            </button>
                            <button class="btn btn-toggle sidenav-toggler">
                                <i class="gg-menu-left"></i>
                            </button>
                        </div>
                        <button class="topbar-toggler more">
                            <i class="gg-more-vertical-alt"></i>
                        </button>
                    </div>
                </div>
                <nav class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom" data-background-color="dark2">
                    <div class="container-fluid">
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav ms-auto align-items-center">
                                <li class="nav-item topbar-user dropdown hidden-caret">
                                    <a class="dropdown-toggle profile-pic" data-bs-toggle="dropdown" href="#" aria-expanded="false">
                                        <span class="profile-username text-white ms-2"><%= user ? user.username : 'User' %></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-user animated fadeIn">
                                        <li>
                                            <div class="dropdown-user-scroll scrollbar-outer">
                                                <div class="user-box">
                                                    <div class="u-text">
                                                        <h4 class="text-white"><%= user ? user.username : 'User' %></h4>
                                                        <p class="text-white"><%= role || '' %></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/logout">Logout</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="container">
                <div class="page-inner">
